.font-thin {
    font-family: "Titillium Web", "微軟正黑體 Light", "微軟正黑體", sans-serif;
    font-weight: 200;
}

.font-semibold {
    font-family: "Titillium Web", "微軟正黑體 Light", "微軟正黑體", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Titillium Web", "微軟正黑體 Light", "微軟正黑體", sans-serif;
    font-weight: 300;
}

* {
    position: relative;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2f2f2f;
    font-family: "Titillium Web", "微軟正黑體 Light", "微軟正黑體", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
}

.XDD-bg{
    background-position: center; 
    background-size: cover; 
    z-index: -1;
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 100%;
}

.XDD-img{
    display: block;
    margin: auto;
    padding: 5% 0;
}

.container{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10% 10% 0 10%;
    padding: 5% 10% 10% 10%;
}

.line .hr {
    background-color: #7b7c7b;
    height: 3px;
    margin: 5% auto;
    width: 80%;
}


.btnbox{
    margin: 5% 0 10% 5%;
}

.XDD-btn{
    width: 80%;
    margin-bottom: 3%;
}

.XDD-slider{
    margin: auto;
    margin-bottom: 10%;
    width: 80%;
}

.XDD-slider > div{
    text-align: right;
}

.XDD-menu{
    padding-top: 5%;
}

.XDD-submit{
    position: absolute;
    right: 15%;
    bottom: 5em;

}

.XDD-submit > a{
    text-decoration: none;
    padding-top: 0.25em;
    font-size: 25px;
    height: 2em;
    width: 6em;
}


@media screen and (max-width: 750px){
    .container{
        margin: 0;
        width: 100%;
        padding-bottom: 25%;
    }
    .XDD-submit{
        right: 15%;
        bottom: 3em;

    }

    .XDD-submit > a{
        text-decoration: none;
        padding-top: 0.1em;
        font-size: 18px;
        height: 2em;
        width: 6em;
    }
}


@media screen and (max-width: 1500px) {
    .title{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .subtitle{
        font-size: 30px;
    }

    .content{
        font-size: 20px;
    }

    .XDD-btn *{
        font-size: 20px;
        margin-bottom: 0;
    }
    .XDD-comp{
        width: 80%;
        margin-bottom: 5%;
    }
    .XDD-comp *{
        font-size: 20px;
        margin-bottom: 0;
    }
    .XDD-menu > button{
        font-size: 20px;
        height: 2em;
        width: 30%;
    }
}

@media screen and (min-width: 1500px) {
    .title{
        font-size: 70px;
        padding-bottom: 30px;
    }
    .subtitle{
        font-size: 45px;
    }

    .content{
        font-size: 30px;
    }

    .XDD-btn *{
        font-size: 30px;
        margin-bottom: 0;
    }
    .XDD-comp{
        width: 80%;
        margin-bottom: 10%;
    }
    .XDD-comp *{
        font-size: 30px;
        margin-bottom: 0;
    }
    .XDD-menu > button{
        font-size: 30px;
        height: 2em;
        width: 30%;
    }
}
